<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
  </head>

  <body>
    <h1>URL Shortener</h1>

    <form>
      <input name="forward[long_url]" type="text" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
